.minimized {
    background-color: #8A6FA8;
    color: white;
    border: gray 1px solid;
    width: 20em;
    height: 2.5em;
    padding: 0.625em;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    right: 6.25em;
    grid-area: footer;
    justify-self: right;
}

.arrow {
    float: right;
    padding: 0 0.625em;
}