.window {
    width: 400px;
    height: 400px;
    background-color: #D9D9D9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px #707070;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.scrollable-messages {
    height: 308px;
    overflow-y: scroll;
}

.bar {
    background-color: #8A6FA8;
    height: 40px;
}

.minimize {
    padding: 10px 15px;
    position: absolute;
    right: 0;
    color: white;
}

.chat {
    background-color: white;
    color: gray;
    padding: 15px;
    bottom: 0; right: 0; left: 0;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 90%;
}

.send {
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: white;
    color: #8A6FA8;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.chat-bubble {
    display: grid;
    grid-template-areas: 
    "grin content"
    ". content"
    ". time-name";

    width: 300px;
    height: auto;
    grid-column-gap: 10px;
    overflow: visible;
}

.content {
    grid-area: content;
    text-align: left;
    padding: 10px;
    margin: 10px 0 5px 0;
    background-color: white;
    border-radius: 10%/20% ;
    z-index: 950;
}

.time-name {
    grid-area: time-name;
    font-size: 10px;
    margin: 0 10px;
}