.window {
  width: 25rem;
  height: 25rem;
  background-color: #d9d9d9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px #707070;
  bottom: 0;
  right: 6.25rem;
  position: sticky;
  position: -webkit-sticky;
  grid-area: footer;
  justify-self: right;
}

.scrollable-messages {
  height: 19.25em;
  overflow-y: scroll;
  padding: 0 30px;
}

.bar {
  background-color: #8a6fa8;
  height: 2.5em;
}

.minimize {
  padding: 0.625em 0.938em;
  position: absolute;
  right: 0;
  color: white;
}

.chat {
  background-color: white;
  color: gray;
  padding: 0.938em;
  bottom: 0;
  right: 0;
  left: 0;
}

input {
  border: none;
  outline: none;
  font-size: 1em;
  width: 90%;
}

.send {
  border: none;
  outline: none;
  position: absolute;
  font-size: 1.563em;
  background-color: white;
  color: #8a6fa8;
  cursor: pointer;
  right: 0.8em;
  margin: 0;
  padding: 0;
}

.send-disabled {
  color: #7b7582;
  cursor: default;
}