.chat-bubble {
  display: grid;
  grid-template-areas:
    "bot content content"
    ". content content"
    ". time-name feedback";

  height: auto;
  grid-column-gap: 10px;
  overflow: visible;
  padding-right: 2.65rem;
}

.chat-bubble:last-child {
  padding-bottom: 10px; 
}

.fa-grin-beam {
  grid-area: bot
}

.chat-bubble-user {
  display: grid;
  grid-template-columns: auto auto 30px;
  grid-template-areas:
    "content content user"
    "content content ."
    "time-name feedback .";
    
    height: auto;
    grid-column-gap: 10px;
    overflow: visible;
    padding-left: 2.65rem;
    padding-top: 10px;
    margin-bottom: .125rem
  }

.fa-user{
  grid-area: user
}

.content {
  grid-area: content;
  padding: 10px;
  margin: 10px 0 5px 0;
  background-color: white;
  z-index: 950;
}

.time-name {
  grid-area: time-name;
  font-size: 10px;
  margin: 0 10px;
}

.feedback-icons {
  grid-area: feedback;
  margin-left: 50px; 
}

.feedback-positive {
  color: #008000;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.feedback-positive:hover {
  background-color: #7b7582;
  color: lightgreen;
}


.feedback-negative {
  color: #C0392B;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.feedback-negative:hover {
  background-color: #7b7582;
  color: #F08080;
}