* {
  box-sizing: border-box;
}

html {
  font-size: 3.5vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url('bg-pizza.png');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media
only screen and (min-width: 576px)
{
  html {
    font-size: 2.7vw;
  }
}

@media
only screen and (min-width: 768px)
{
  html {
    font-size: 2.2vw;
  }
}

@media
only screen and (min-width: 1024px)
{
  html {
    font-size: 1.8vw;
  }
}

@media
only screen and (min-width: 1280px)
{
  html {
    font-size: 1.3vw;
  }
}

@media only screen and (min-width: 1600px)
{
  html {
    font-size: 1vw;
  }
}